@{
    Layout = null;
    ViewBag.Title = "Identificação";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Auditor - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#1199d3">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1199d3">
    <link href="~/Content/minotaur.css" rel="stylesheet" />
    <link href="~/Content/vendor.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/vendor.js"></script>
    <script src="~/Scripts/Auditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-login").click(function () {
                Login($("#email").val(), $("#password").val(), $("#ms-returnurl").val());
            });
        });
    </script>
</head>
<body id="minotaur" class="appWrap">
    <div id="wrap">
        <section id="content" ui-view>
            <div class="page page-core page-login">
                <div class="login-modal">
                    <div class="branding">
                        <img src="~/Content/Images/logo-alt.png" alt="Logo Auditor">
                        <h2 class="brand"><strong>AUDI</strong>TOR</h2>
                    </div>
                    <form name="form">
                        <input type="hidden" id="ms-returnurl" value="@ViewBag.ReturnUrl" />
                        <div class="form-group with-addon">
                            <span class="input-addon"><i class="icon-user"></i></span>
                            <input type="email" placeholder="E-mail" id="email" class="form-control" required>
                        </div>
                        <div class="form-group with-addon">
                            <span class="input-addon"><i class="icon-key"></i></span>
                            <input type="password" id="password" placeholder="Senha" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <a ui-sref="core.forgotpass">Esqueceu a senha?</a>
                        </div>
                        <button type="button" class="btn btn-block btn-lg btn-rounded-40" id="btn-login">Entrar</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
